@model IEnumerable<Crud_colaborativo.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gerente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocioParticipacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocioComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropuestaContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gerente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocioParticipacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocioComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropuestaContrato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
